  <%# ナブバー %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-brand">VideoChatApp
      <% if user_signed_in? %>
      <span class="navbar-text ml-5">
        UID: <span id="uid"><%= current_user.uid%></span>
      </span>
      <% end %>
    </p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
        <!-- ログイン時 -->
        <li class="nav-item ">
          <%# <a class="nav-link" href="/">Homeへ戻る <span class="sr-only">(current)</span></a>%>
          <%= link_to "Homeへ戻る", "/",  data: { confirm: "今参加しているミーティングから退出することになるけどええか？ぴえん🥺" } ,class:"nav-link showHome",id:"home"%>
        </li>
        <li class="nav-item">
          <%= link_to "アカウント編集", edit_user_registration_path ,class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } ,class:"nav-link",id:"logout"%>
        </li>
        <% else %>
        <!-- 非ログイン時 -->
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path,class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "アカウント登録", new_user_registration_path,class:"nav-link" %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="banner"></div>